.highlight {
  color: #5571DC;
  font-weight: bold
}

.ant-table, .ant-table-small .ant-table-thead > tr > th {
  background-color: black;
  color: white;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgb(51, 49, 49);
}
